header {
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
}

.home {
    display: flex;
    align-items: center;
    gap: 16px;

}

nav {
    display: flex;
    gap: 32px;
}

.butao {
    gap: 16px;
}

.btn_1 {
    border: 1px solid black;
    padding: 8px 20px;
    background-color: black;
    color: white;
}

.btn_2 {
    border: 1px solid black;
    padding: 8px 20px;
}

.first_content {
    background: black url("../assets/image/fundo.jpg") center center / cover no-repeat fixed;
    width: 100%;
    height: 900px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 336px;
}

.fundo-text {
    background-color: rgba(255, 255, 255, 0.725);
    border-radius: 4px;
    padding: 5px;
    gap: 32px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px black;
}

.hero_text {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.btn_3 {
    border: 1px solid black;
    padding: 8px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

.contact {
    background: black url("../assets/image/fundo-contact.jpg") center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    height: 750px;
    padding: 112px 80px;
    gap: 80px;
    box-shadow: 2px 2px 2px 2px black;
}

.text-contact1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text-contact2 {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.text-contact2 {
    font-size: 18px;
    text-align: justify;
}

h2 {
    font-size: 48px;
}


textarea {
    width: 560px;
    height: 180px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.596);
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 0;
}

.checkbox-group {
    display: flex;
    
    gap: 8px;
    font-size: 16px;
}

.form-group {
    max-width: 500px;
    
}

.caixa {
    background-color: rgba(255, 255, 255, 0.596);
    width: 560px;
    height: 48px;
    border: 1px solid black;
}