header {
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
}

.home {
    display: flex;
    align-items: center;
    gap: 16px;

}

nav {
    display: flex;
    gap: 32px;
}

.butao {
    gap: 16px;
}

.btn_1 {
    border: 1px solid black;
    padding: 8px 20px;
    background-color: black;
    color: white;
}

.btn_2 {
    border: 1px solid black;
    padding: 8px 20px;
}

main {
    background: black url("../assets/image/fundo.jpg") center center / cover no-repeat fixed;
}

.first_content {
    width: 100%;
    height: 900px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 336px;
}

.fundo-text {
    background-color: rgba(255, 255, 255, 0.725);
    border-radius: 4px;
    padding: 5px;
    gap: 32px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px black;
}

.hero_text {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.btn_3 {
    border: 1px solid black;
    padding: 8px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}